services:
  db:
    image: postgres:15
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  lawyerclientbackend:
    build: ./lawyer-client-backend
    env_file:
      - .env
    ports:
      - "5000:5000"
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true   # helps hot reload inside Docker
    volumes:
      - ./frontend:/app
    stdin_open: true
    tty: true
    depends_on:
      - lawyerclientbackend

volumes:
  db-data:
